/* Components Library Start */
* {
  margin: 0rem;
}
:root {
  /* Colors */
  /* Primary colors */
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  /* Secondary colors */
  --neutral-color-900: hsl(234, 12%, 34%);
  --neutral-color-500: hsl(229, 6%, 66%);
  --neutral-color-50: hsl(0, 0%, 98%);
  /* Text colors */
  --text-color: #1a1a1a;
  /* Shadow colors */
  --shadow: 0 0 1.5rem hsla(234, 12%, 34%, 0.205);

  /* Font sizes */
  /* Heading */
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem;
  /* Body */
  --body-text-font-size: 1rem;
  /* Caption */
  --caption-font-size: 0.75rem;

  /* Font weights */
  --font-weight-light: 200;
  --font-weight-regular: 500;
  --font-weight-bold: 900;

  /* Padding */
  --padding-x: 0.25rem;
  --padding-xx: 0.5rem;
  --padding-xxx: 1rem;
  --padding-xxxx: 1.5rem;
  --padding-xxxxx: 2rem;
  --padding-xxxxxx: 2.5rem;
}

/* Class definition for Body & Caption */
.light {
  font-weight: var(--font-weight-light);
}
.regular {
  font-weight: var(--font-weight-regular);
}
.bold {
  font-weight: var(--font-weight-bold);
}

/* Class definition for Headings */
h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}
h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-regular);
}
h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
}
h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-regular);
}
h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
}
.x {
  padding-top: var(--padding-x);
}
.xx {
  padding-top: var(--padding-xx);
}
.xxx {
  padding-top: var(--padding-xxx);
}
.xxxx {
  padding-top: var(--padding-xxxx);
}
.xxxxx {
  padding-top: var(--padding-xxxxx);
}
.xxxxxx {
  padding-top: var(--padding-xxxxxx);
}
a {
  cursor: auto;
  text-decoration: none;
}
/* Desktop view */
body {
  font-family: "Poppins", sans-serif;
  font-size: var(--body-text-font-size);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}
/* Main */
main {
  margin-left: 4rem;
  margin-right: 4rem;
}
/* Attribution */
footer > div {
  display: flex;
  flex-direction: row;
  gap: var(--padding-x);
  justify-content: center;
  padding: var(--padding-xx);
}
.attribution {
  color: var(--text-color);
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  text-align: center;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  cursor: auto;
}
.attribution a {
  color: var(--primary-color-blue);
  font-weight: var(--font-weight-bold);
  float: none;
}
/* Mobile view */
@media only screen and (max-width: 37.5rem) {
  body {
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  main {
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  footer,
  .attribution {
    background-color: var(--neutral-color-900);
    color: var(--neutral-color-50);
    width: 100%;
    font-size: var(--caption-font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-xx);
  }
  footer > div {
    padding: var(--padding-xxx);
  }
}
